
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

.img-style {
    width: 10%;
    height: auto;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.list-group{
    display:inline-flex;
    width: 50%;
}

.expert-1 {
    width: 50%;
    height: auto;
}

.expert-2 {
    width: 50%;
    height: auto;
}

.expert-text {
    font-size: 20px;
}

.expert-li {
    width: 100%;
}