
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

.img-style {
    width: 10%;
    height: auto;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.list-group{
    display:inline-flex;
    width: 50%;
}

.expert-1 {
    width: 50%;
    height: auto;
}

.expert-2 {
    width: 50%;
    height: auto;
}

.expert-text {
    font-size: 20px;
}

.expert-li {
    width: 100%;
}

.form-group {
    display:inline-flex;
    width: 40%;
}
.navbar-custom {
    background-color: lightgrey;
    margin-left: 2px;
    margin-right: 2px;
}

.bg-custom {
    background-color: rgba(0, 0, 200, 0.06);
}

.navbar-custom:hover {
    background-color: darkgrey;
}

.centre-time {
    padding-left: 200px;
    margin-left: 200px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.headline {
    background-image: linear-gradient(rgba(0, 0, 200, 0.06), white);
}

.bike-image {
    width: 15%;
    height: auto;
}